<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Кассовый чек</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    .container {
      border: 1px solid #000;
      padding: 20px;
      max-width: 300px;
      margin: auto;
    }

    .header {
      text-align: center;
      margin-bottom: 20px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    .total {
      font-weight: bold;
      margin-top: 20px;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="header">
      <h2>Кассовый чек</h2>
      <p>Дата: <span id="date">{{datetime}}</span></p>
    </div>

    <div class="items">
      {% for item in items %}
      <div class="item">
        <span>{{item.title}}</span>
        <span>{{item.price}}</span>
      </div>
      {% endfor %}
    </div>

    <div class="total">
      <hr>
      <div class="item">
        <span>Итого</span>
        <span id="totalAmount">{{total_price}}</span>
      </div>
      <div class="item">
        Наличными
        <span id="totalAmount">= {{total_price}}</span>
      </div>

    </div>
  </div>


</body>

</html>
